<!DOCTYPE html>
<html> <!-- MAIN MENU HTML -->
  
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styleMenu.css">
    <!-- Special fonts: -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <title>Northern Lands: Strategic battle game</title>
  </head>
  
  <body>
    <h1>Northern Lands: Strategic battle game</h1>
    
    <p id= "mainMenu">
      <span id= "menuItemContainer" >
        <span class= "menuItem">
          <input type= "button" value= "Intro" onclick = "menuClick(this.value)" onmouseover= "hoverAction(this.value)" onmouseout ="outAction()">
        </span>
        <span class= "menuItem">
          <input type= "button" value= "Start Campaign" onclick = "menuClick(this.value)" onmouseover= "hoverAction(this.value)" onmouseout ="outAction()">
        </span>
        <span class= "menuItem">
          <input type= "button" value= "Continue Campaign" onclick = "menuClick(this.value)" onmouseover= "hoverAction(this.value)" onmouseout ="outAction()">
        </span>
        <span class= "menuItem">
          <input type= "button" value= "Skirmish game" onclick = "menuClick(this.value)" onmouseover= "hoverAction(this.value)" onmouseout ="outAction()">
        </span>
        <span class= "menuItem">
          <input type= "button" value= "Top players" onclick = "menuClick(this.value)" onmouseover= "hoverAction(this.value)" onmouseout ="outAction()">
        </span>
      </span>
    </p>
    <center>
    <form name= "selectArmyForm"> 
      <p id= "information1"></p>
    </form>  
    </center>
    
    <script src="../combat/constructors.js"></script>
    <script src="../database/DBcalls.js"></script>
    <script src="/units.js"></script>
    <script src="/armies.js"></script> <!-- need this to support gameObject.js-->
    <script src="../combat/worlds.js"></script> <!-- need this to support gameObject.js-->
    <script src="/gameObject.js"></script> <!-- need this for load game-->
    <script src="../menu/mainMenu.js"></script>
  </body>
</html>