<!DOCTYPE html>
<html> <!-- Campaign map screen HTML -->
  
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styleMap.css">
    <!-- Special fonts: -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <title>Northern Lands: Strategic battle game</title>
  </head>
  
  <body>
    <center>
    <div id= "campaignMap">
      <img id= "theMap" src= "https://cdn.glitch.com/025cf530-1fd5-47cb-bdde-6124aa0e2469%2Fthemap2.jpg?1545329467519">
      <!--
      <canvas id="mapCanvas" width="950" height="710"></canvas>
      -->
      <div class="grid-container" id= "gridContainer">
      </div>
    </div>
    </center>  
    <script src="../combat/constructors.js"></script>
    <script src="../campaignMap/mapScreen.js"></script>
  </body>
</html>