<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style2.css">
    <title>Strategy game</title>
  </head>
  <body>
    <div id= "player1">
      <h2>
        Choose army: 
      </h2>
      <article>
        <section id= "army1">
          <form name= "armySelectForm1">
            <p id= "army1section"></p>
             <!--  MAKE A DYNAMIC THING THAT LOOPS armies here:
            <input type= "radio" name= "army1" value= "humans"/> Human State Defence Forces.  
            <input type= "radio" name= "army1" value= "elves"/> Elven Kingdom Guardians.
             -->
          </form>
        </section>
        <section>
          <p id= "unit1section">
          <!-- MAKE A DYNAMIC THING THAT LOOPS units here: -->
          </p>
        </section>
      </article>
    </div>
    <div if= "player2">
      
    </div>
  </body>
</html>    