/* CSS FOR MAIN MENU SCREEN */
* {
  font-family: 'Ubuntu', sans-serif;
} 
body {
  background: navy;
  background: linear-gradient(black, navy, DarkGreen);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  font-size: 150%;
  color: white;
}