
:root {
  --sizeOfBox: 50px;
  --widthOfBox: 50px;
  --heightOfBox: 48px;  
}
#theMap {
  position: absolute;
  left: 20%;
  right: 20%;
}
.grid-container {
  width: 950px;
  heigth: 700px;
  position: absolute;
  left: 20%;
  right: 20%;
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox) 
    var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox)
    var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox) var(--sizeOfBox);
}
.grid-container > div {
  text-align: center;
  font-size: 10px;
  color: white;
  width: var(--widthOfBox);
  height: var(--heightOfBox);
}
.borders {
  border: 1px solid crimson;
}
.cityName {
  font-size: 14px;
  color: gold;
}
/*
.topBorder {
  border-top: 1px solid crimson;
}
.rightBorder {
  border-right: 1px solid crimson;
}
.bottomBorder {
  border-bottom: 1px solid crimson;
}
.leftBorder {
  border-left: 1px solid crimson;
}
*/
