  
#kanveesi {
  padding: 0;
  margin: auto;
  width: 950px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: darkgreen;
} 
#console1 {				
  position: fixed;
	top: 20%;
	left: 1px;  
	float: left;
}
.commands {
  background-color: gray;
  color: RGB(73, 251, 53);
  width: 110%;
  height: 110%;
}
.units {
  background-color: yellow;
}