  
#kanveesi {
  padding: 0;
  margin: auto;
  width: 950px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  background-color: peru;
  border:1px solid #000000;
} 
#console1 {				
  position: fixed;
	top: 5%;
	left: 1px;  
	float: left;
}
.commands {
  background-color: gray;
  color: RGB(73, 251, 53);
  width: 100%;
  height: 110%;
}
.units {
  background-color: yellow;
}
.moveTargets {
  background-color: navy;
  color: white;
}
.smaller {
  color: green;
  font-size: 75%;
}
.informal {
  color: crimson;
  font-weight: bold;
}
#battleLog {
  width: 280px;
  height: 260px;
  background-color: darkgray;
  border: 4px solid #000000;
}